In [2]:
import pandas as pd
from pathlib import Path

In [13]:
file_path = Path("tsla.csv")
tsla_df = pd.read_csv(file_path)
tsla_df.drop(inplace=True, columns="Down")
tsla_df.dropna(inplace=True)
tsla_df.head(30)

,Date,Open,High,Low,Close,Volume,Up,RSI(14)
28,04/06/2022,1073.470,1079.0000,1027.7000,1045.76,29782848,29782848.0,57.527676
29,04/05/2022,1136.300,1152.8699,1087.3000,1091.26,26691673,26691673.0,64.220667
30,04/04/2022,1089.380,1149.9100,1072.5300,1145.45,27392567,27392567.0,73.703913
31,04/01/2022,1081.150,1094.7500,1066.6400,1084.59,18087741,18087741.0,68.917290
32,03/31/2022,1094.570,1103.1398,1076.6410,1077.60,16330919,16330919.0,68.301927
33,03/30/2022,1091.170,1113.9500,1084.0000,1093.99,19955002,19955002.0,71.378721
34,03/29/2022,1107.990,1114.7700,1073.1099,1099.57,24538273,24538273.0,72.409900
35,03/28/2022,1065.100,1097.8799,1053.6000,1091.84,34168693,34168693.0,71.887473
36,03/25/2022,1008.000,1021.7999,997.3201,1010.64,20677182,20677182.0,65.518841
37,03/24/2022,1009.730,1024.4900,988.8000,1013.92,22973626,22973626.0,66.080343
38,03/23/2022,979.940,1040.7000,976.4000,999.11,40225383,40225383.0,64.816114
39,03/22/2022,930.000,997.8600,921.7500,993.98,35289519,35289519.0,64.389207
40,03/21/2022,914.980,942.8500,907.0900,921.16,27327216,27327216.0,57.609572
41,03/18/2022,874.490,907.8500,867.3900,905.39,33471397,33471397.0,55.922079
42,03/17/2022,830.990,875.0000,825.7178,871.60,22194324,22194324.0,52.130643
43,03/16/2022,809.000,842.0000,802.2601,840.23,28009607,28009607.0,48.296730
44,03/15/2022,775.270,805.5700,756.5700,801.89,22280381,22280381.0,43.127317
45,03/14/2022,780.610,800.7000,756.0400,766.37,23717421,23717421.0,37.775236
46,03/11/2022,840.197,843.8020,793.7700,795.35,22345722,22345722.0,40.675177
47,03/10/2022,851.450,854.4500,810.3601,838.30,19549548,19549548.0,45.480063
48,03/09/2022,839.480,860.5600,832.0100,858.97,19727993,19727993.0,48.014729
49,03/08/2022,795.530,849.9900,782.1700,824.40,26799702,26799702.0,43.089005
50,03/07/2022,856.300,866.1400,804.5700,804.58,24164724,24164724.0,40.065679
51,03/04/2022,849.100,855.6500,825.1609,838.29,22393287,22393287.0,43.735024
52,03/03/2022,878.770,886.4390,832.6001,839.29,20541169,20541169.0,43.845635
53,03/02/2022,872.130,886.4800,844.2721,879.89,24881146,24881146.0,48.466846
54,03/01/2022,869.680,889.8800,853.7800,864.37,24922287,24922287.0,46.463958
55,02/28/2022,815.010,876.8600,814.7075,870.43,33002289,33002289.0,47.128077
56,02/25/2022,809.230,819.5000,782.4005,809.87,25355921,25355921.0,39.043050
57,02/24/2022,700.390,802.4800,700.0000,800.77,45107425,45107425.0,37.714074